@import "tailwindcss";
@import url('https://unpkg.com/leaflet@1.9.3/dist/leaflet.css');

@font-face {
    font-family: "poppins";
    src: url('assets/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: "Jost";
    src: url('assets/Jost/Jost-VariableFont_wght.ttf');
}

form{
    padding: 40px;
}

@theme{
    --font-Jost: Jost, sans-serif;
    --font-Poppins: Poppins, sans-serif;
}

h1 {
    font-family: poppins;
}